In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
a=pd.read_csv(r'C:\Users\DELL\Downloads\data (1).csv')

In [ ]:
a.head()

,Jaundice\nRenal failure (kidney damage)\nPulmonary hemorrhage\nCardiac arrhythmias\nPneumonitis\nSeptic shock,devloped after strep throat bacteria called group A streptocoaus,Bacterium Bartonella quintana,"Orientia tsutsugamushi bacteria,through bites of infected chiggers",Streptococcus,Rickettsia,Strain of haemophilus biogroupmagyptius,F,100.5–102.2,102.2–104.0,...,jaundice,Retro-orbital,Radish eys,Abdominal pain,Abdominal pain sevrer,comma,Septic Shock,death,diagnosis,Fever
0,1,0,0,0,0,0,0,1,1,0,...,1,1,1,1,0,0,1,1,0,1
1,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,1
3,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,1

In [ ]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 45 columns):
 #   Column                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                    --------------  -----
 0   Jaundice
Renal failure (kidney damage)
Pulmonary hemorrhage
Cardiac arrhythmias
Pneumonitis
Septic shock  62 non-null     int64
 1   devloped after strep throat bacteria called group A streptocoaus                                          62 non-null     int64
 2   Bacterium Bartonella quintana                                                                             62 non-null     int64
 3   Orientia tsutsugamushi bacteria,through bites of infected chiggers                                        62 non-null     int64
 4   Streptococcus                                                                                             62 non-null     int64
 5   Rickettsia                                                                                                62 non-null     int64
 6   Strain of haemophilus biogroupmagyptius                                                                   62 non-null     int64
 7   F                                                                                                         62 non-null     int64
 8   100.5–102.2                                                                                               62 non-null     int64
 9   102.2–104.0                                                                                               62 non-null     int64
 10  104.1–106.0                                                                                               62 non-null     int64
 11  Acute <7days                                                                                              62 non-null     int64
 12  Subacute < = 2 weeks                                                                                      62 non-null     int64
 13  Cronic >2weeks                                                                                            62 non-null     int64
 14  Fatigue                                                                                                   62 non-null     int64
 15  Weakness Fatek                                                                                            62 non-null     int64
 16  Muscle pain                                                                                               62 non-null     int64
 17  painful tender joints                                                                                     62 non-null     int64
 18  heart faliur shortemess of breath                                                                         62 non-null     int64
 19  Body ache                                                                                                 62 non-null     int64
 20  Headache                                                                                                  62 non-null     int64
 21  1 Headache (with pain behind the e1)                                                                      62 non-null     int64
 22  1 Splitting headache                                                                                      62 non-null     int64
 23  Sore throa                                                                                                62 non-null     int64
 24  1 swollen gland in neck                                                                                   62 non-null     int64
 25  cough                                                                                                     62 non-null     int64
 26  Vomiting                                                                                                  62 non-null     int64
 27  Diarrhoea                                                                                                 62 non-null     int64
 28  Rash                                                                                                      62 non-null     int64
 29  Pink ring with clear center                                                                               62 non-null     int64
 30   Truncal                                                                                                  62 non-null     int64
 31   Red skin strawberry toungh  ,bright red skin under elbow and groin                                       62 non-null     int64
 32  Rose color spots                                                                                          62 non-null     int64
 33  Nausea                                                                                                    62 non-null     int64
 34  Chills                                                                                                    62 non-null     int64
 35  jaundice                                                                                                  62 non-null     int64
 36  Retro-orbital                                                                                             62 non-null     int64
 37  Radish eys                                                                                                62 non-null     int64
 38  Abdominal pain                                                                                            62 non-null     int64
 39  Abdominal pain sevrer                                                                                     62 non-null     int64
 40  comma                                                                                                     62 non-null     int64
 41  Septic Shock                                                                                              62 non-null     int64
 42  death                                                                                                     62 non-null     int64
 43  diagnosis                                                                                                 62 non-null     int64
 44  Fever                                                                                                     62 non-null     int64
dtypes: int64(45)
memory usage: 21.9 KB

In [ ]:
a.columns

Index(['Jaundice\nRenal failure (kidney damage)\nPulmonary hemorrhage\nCardiac arrhythmias\nPneumonitis\nSeptic shock',
       'devloped after strep throat bacteria called group A streptocoaus',
       'Bacterium Bartonella quintana',
       'Orientia tsutsugamushi bacteria,through bites of infected chiggers',
       'Streptococcus', 'Rickettsia',
       'Strain of haemophilus biogroupmagyptius', 'F', '100.5–102.2',
       '102.2–104.0', '104.1–106.0', 'Acute <7days', 'Subacute < = 2 weeks',
       'Cronic >2weeks', 'Fatigue', 'Weakness Fatek', 'Muscle pain',
       'painful tender joints ', 'heart faliur shortemess of breath',
       'Body ache', 'Headache', '1 Headache (with pain behind the e1)',
       '1 Splitting headache', 'Sore throa', '1 swollen gland in neck',
       'cough', 'Vomiting', 'Diarrhoea', 'Rash', 'Pink ring with clear center',
       ' Truncal',
       ' Red skin strawberry toungh  ,bright red skin under elbow and groin ',
       'Rose color spots ', 'Nausea', 'Chills', 'jaundice', 'Retro-orbital',
       'Radish eys', 'Abdominal pain', 'Abdominal pain sevrer', 'comma',
       'Septic Shock', 'death', 'diagnosis', 'Fever'],
      dtype='object')

In [ ]:
x=a.drop(['Jaundice\nRenal failure (kidney damage)\nPulmonary hemorrhage\nCardiac arrhythmias\nPneumonitis\nSeptic shock'], axis=1)
y=a['Jaundice\nRenal failure (kidney damage)\nPulmonary hemorrhage\nCardiac arrhythmias\nPneumonitis\nSeptic shock']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [ ]:
x_test.shape

(19, 44)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
b=LogisticRegression()

In [ ]:
b.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_pred=b.predict(x_test)

In [ ]:
y_test.head()

54    0
60    0
30    0
44    0
46    0
Name: Jaundice\nRenal failure (kidney damage)\nPulmonary hemorrhage\nCardiac arrhythmias\nPneumonitis\nSeptic shock, dtype: int64

In [ ]:
y_pred[0:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test,y_pred)

0.10526315789473684

In [ ]:
b.score(x_train,y_train)

0.9534883720930233

In [ ]:
b.intercept_

array([-1.48900738])

In [ ]:
b.coef_

array([[-0.53096187, -0.28911179, -0.30336825,  0.14051979, -0.6344789 ,
         0.73866892, -0.17925964, -0.12605369, -0.16583906,  0.68741266,
        -0.13284772, -0.7163307 , -0.4392035 , -0.05763085, -0.26353003,
        -0.06316424, -0.13125356,  0.26303657, -0.65757938, -0.09004494,
        -0.55045993,  0.39690736, -0.43781609,  0.35812326,  0.06398517,
         0.28259475,  0.41822569, -0.16088875, -0.57009874, -0.31231605,
        -0.35151825,  0.03575134, -0.19223478, -0.23662304,  0.96146663,
         0.07436538,  0.26566109, -0.15595652, -0.11640826, -0.15301573,
         0.42016543,  0.49848657, -0.24921718,  0.1521298 ]])

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
# Evaluating the Algorithm
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('\nMean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('\nRoot Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("\nConfusion Metrics Of Our Test Dataset is\n", cm)

Mean Absolute Error: 0.10526315789473684

Mean Squared Error: 0.10526315789473684

Root Mean Squared Error: 0.3244428422615251

Confusion Metrics Of Our Test Dataset is
 [[17  0]
 [ 2  0]]

In [ ]:
x_new=[[0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,1,1,0,0,0,0,0,0,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,0,0,0,0,1,1]]

In [ ]:
y_pred=b.predict(x_new)

In [ ]:
y_pred

array([0], dtype=int64)